@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet');


body {
  background-color: #000000;
  font-family: 'Lato','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Add this to your global CSS file */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
